/* Header dan Navigasi */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
nav {
    padding: 10px 20px;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 0 15px;
}
nav a {
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #053565;
}

.consult-btn {
    position: relative;
    background: linear-gradient(to right, #333, #0c72d7);
    background-size: 200% 100%;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    transition: background-position 0.5s ease-in-out, color 0.3s ease;
}

.consult-btn:hover {
    background-position: right center;
}

.consult-btn a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.consult-btn a:hover {
    color: #fff;
}

.logo a {
    display: flex;
    align-items: center;
}
.logo a img {
    max-height: 50px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger svg {
    display: block;
}

/* ================= RESPONSIF =================== */

@media (max-width: 768px) {
    nav .container {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;
    }
    nav ul.active {
        display: flex;
    }
    nav li {
        margin: 10px 0;
    }
    .hamburger {
        display: block;
    }
    .logo img {
        max-height: 40px;
    }
}
