/* Header dan Navigasi */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
nav {
    padding: 10px 0px;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 0 25px;
}
nav a {
    font-weight: 500;
    padding: 0;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #053565;
}

.consult-btn {
    position: relative;
    background: linear-gradient(to right, #333, #0c72d7);
    background-size: 200% 100%;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: background-position 0.5s ease-in-out, color 0.3s ease;
}

.consult-btn:hover {
    background-position: right center;
}

.consult-btn a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.consult-btn a:hover {
    color: #fff;
}

.logo a {
    display: flex;
    align-items: center;
}
.logo a img {
    max-height: 50px;
}

/* Hamburger Menu */
.hamburger {
    padding: 15px;
    cursor: pointer;
    display:none;
    overflow: hidden;
    background-color: transparent;
}

.hamburger__container {
    width: 36px;
    height: 24px;
    position: relative;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.hamburger__inner {
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}

.hamburger__inner::before {
    top: -13px;
}

.hamburger__inner::after {
    top: 13px;
}

.hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
}

.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
    transform: translate(102px, 0);
    opacity: 0;
}

.hamburger.is-active .hamburger__inner {
    display: none;
}

.hamburger__hidden,
.hamburger__hidden::before,
.hamburger__hidden::after {
    width: 100%;
    height: 2px;
    background-color: #053565;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.hamburger__hidden {
    opacity: 0;
    top: 50%;
    transform: translate(51px, -50%);
}

.hamburger__hidden::before,
.hamburger__hidden::after {
    content: "";
    transform: translate(102px, 0);
}

.hamburger__hidden::before {
    top: -13px;
}

.hamburger__hidden::after {
    top: 13px;
}

.hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
}

.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
}

.hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
}

.hamburger.is-active .hamburger__hidden::before {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
}

.hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(0);
}


/* ================= RESPONSIF =================== */

@media (max-width: 768px) {
    nav .container {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;
    }
    nav ul.active {
        display: flex;
    }
    nav li {
        margin: 10px 0;
    }
    .hamburger {
        display: block;
        padding: 10px;
    }
    .hamburger__container {
        width: 30px;
        height: 20px;
    }
    .hamburger__inner, .hamburger__hidden {
        height: 2px;
    }
    .hamburger__inner::before {
        top: -10px;
    }
    .hamburger__inner::after {
        top: 10px;
    }
    .logo img {
        max-height: 40px;
    }
}
